<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hydravion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF5FD0FA23F08B52005E35C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF5FD10E23F08B54005E35C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF5FD11923F08B54005E35C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
